/* basic reset */

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    list-style: none;
}

/* style */

body {
    margin: 5%;
    font-family: 'Inter', sans-serif;
    font-size: var(--paragraph);
    color: var(--very-dark-blue);
}

.nav,
.main-content,
.side-section,
.footer-list,
.footer,
.main-article,
.main-article__intro-container,
.list,
.article,
.footer-article,
.footer {
    display: grid;
    gap: 20px;
}

/* header *,
main *,
footer * {
    display: grid;
    gap: 20px;
} */

/* -------mobile first------- */
.nav {
    grid-template-columns: repeat(3, auto);
    margin-bottom: 5%;
}

.nav__logo {
    height: 24px;
}

a {
    color: var(--very-dark-blue);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.main-article__img {
    content: url(./assets/images/image-web-3-mobile.jpg);
    width: 100%;
}

.main-article__title--font {
    font-size: var(--main-title);
    line-height: 1;
}

.article__intro--font {
    color: var(--dark-grayish-blue);
    line-height: 1.8;
}

.site-section--wrapper {
    margin: 50px 0;
    padding: 20px;
    background-color: var(--very-dark-blue);
}

.article--wrapper {
    border-bottom: 1px solid var(--grayish-blue);
    padding-bottom: 20px;
}

.article {
    gap: 5px;
}

.title--font {
    color: var(--soft-orange);
    font-size: var(--list-title);
}

.light__intro--font {
    color: var(--grayish-blue);
    line-height: 1.8;
}

.footer-article {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.footer-article__img {
    max-width: 100%;
    grid-row: span 3;
}

.artical--numbers {
    color: var(--grayish-blue);
    font-size: var(--article-title);
}

.footer {
    margin-top: 50px;
    justify-items: center;
}

@media (min-width: 768px) {
    .nav {
        grid-template-columns: auto repeat(2, max-content);
    }

    .main-article {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-article__img {
        grid-column: span 2;
        content: url(./assets/images/image-web-3-desktop.jpg);
        width: 100%;
    }

    .article {
        grid-template-columns: 1fr 2fr;
    }

    .list--horizontal {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
    }
}

@media (min-width: 1024px) {
    .main-content {
        grid-template-columns: 2fr 1fr;
    }

    .article {
        grid-template-columns: 1fr;
    }

    .footer-list {
        grid-column: span 2;
    }
}