body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    list-style: none;
}

body {
    margin: 5%;
    font-family: 'Inter', sans-serif;
    font-size: var(--paragraph);
}


/* -------mobile first------- */
/* header */
.nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.nav__logo {
    height: 24px;
}

a {
    color: var(--very-dark-blue);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* main */
.main-content {
    display: grid;
    grid-template-columns: 1fr;
}

.main-article {
    display: grid;
    grid-template-columns: 1fr;
}

.footer-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* main images */
/* #artical-image {
    background-image: url(./assets/images/image-web-3-mobile.jpg);
} */

/* .main-article__img-div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    grid-column: span 2;
} */

.main-article__img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    /* grid-column: span 2; */
}

#first-footer-image {
    background-image: url(./assets/images/image-retro-pcs.jpg);
}

#second-footer-image {
    background-image: url(./assets/images/image-top-laptops.jpg);
}

#third-footer-image {
    background-image: url(./assets/images/image-gaming-growth.jpg);
}

.footer-article__img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    grid-row: span 3;
}

/* footer */

.footer {
    display: grid;
    justify-items: center;
}

@media (min-width: 768px){
    .nav {
        grid-template-columns: auto repeat(2, max-content);
    }

    .main-content {
        grid-template-columns: 2fr 1fr;
    }

    .main-article {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .main-article__img {
        grid-column: span 2;
    }

    .footer-list {
        grid-column: span 2;
    }
  
}

@media (min-width: 1024px){
    #artical-image {
        background-image: url(./assets/images/image-web-3-desktop.jpg);
    }

    .list--horizontal {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
    }
}