body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.nav {
    display: grid;
    grid-template-columns: auto max-content;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(5, max-content);
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
}

.footer-list {
    grid-column: span 2;
}

.footer-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* images */
#artical-image {
    background-image: url(./assets/images/image-web-3-mobile.jpg);
}
.main-article__img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    grid-column: span 2;
}

#first-footer-image {
    background-image: url(./assets/images/image-retro-pcs.jpg);
}

#second-footer-image {
    background-image: url(./assets/images/image-top-laptops.jpg);
}

#third-footer-image {
    background-image: url(./assets/images/image-gaming-growth.jpg);
}

.footer-article__img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    grid-row: span 3;
}

.footer {
    display: grid;
    justify-items: center;
}

@media (min-width: 768px){
  
}

@media (min-width: 1024px){
    #artical-image {
        background-image: url(./assets/images/image-web-3-desktop.jpg);
    }

    .list--horizontal {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
    }
}