/* Luka's challenge - use one grid for main element */

.nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 5%;
    gap: 20px;
}

/* Luka's challenge start  */

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.main-section-wrapper {
    grid-area: 1 / 1 / span 3 / span 3;
}

.news-wrapper,
.article-wrapper {
    grid-column: span 3;
}

.news-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-wrapper,
.article-wrapper__card {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.author {
    display: grid;
    gap: 20px;
}

@media (min-width: 768px) {
    .nav {
        grid-template-columns: auto repeat(2, max-content);
    }

    .main-section-wrapper {
        grid-area: 1 / 1 / span 2 / span 2;
    }

    .news-wrapper {
        grid-row: span 2;
        grid-column: span 1;
        padding: 20px;
    }

    .article-wrapper {
        grid-column: span 3;
    }
}

@media (min-width: 1024px) {
    .article-wrapper {
        grid-column: span 3;
    }

    .article-wrapper,
    .article-wrapper__list,
    .main-section-wrapper__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

/* Luka's challenge end  */