/* Luka's challenge - use one grid for main element */

.nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 5%;
    gap: 20px;
}

/* Luka's challenge start  */

.main-wrapper {
    display: grid;
    gap: 20px;
}

.main-section-wrapper{
    display: contents;
}

.news-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-wrapper__card {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.author {
    display: grid;
    gap: 20px;
}

@media (min-width: 768px) {
    .nav {
        grid-template-columns: auto repeat(2, max-content);
    }

    .main-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-article__img {
        grid-column: span 2;
    }

    .news-wrapper{
        grid-area: 1 / 3 / span 2 / span 1;
     }
}
/* Luka's challenge end  */